@font-face {
  font-family: 'Black Mango';
  src: url('./fonts/BlackMango-Regular.otf'),
    url('./fonts/BlackMango-Regular.ttf');
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Helvetica-Medium-Condensed.otf');
}

* {
  background-color: #65a2b1;
}

.App {
  text-align: center;
  max-height: auto;
}

h1 {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: 'Black Mango';
  font-size: 6rem;
  color: whitesmoke;
  font-weight: normal;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Helvetica';
  font-size: 2rem;
  color: whitesmoke;
  font-weight: normal;
}

a {
  font-family: 'Helvetica';
  color: #65a2b1;
  background: whitesmoke;
  padding: 20px;
  margin: 10px;
  border: #65a2b1 solid 2px;
  border-style: outset;
  border-radius: 10px;
}

a:link {
  color: #65a2b1;
}

a:hover {
  color: #65a2b1;
  opacity: 50%;
}

a:focus {
  color: #65a2b1;
}

a:before {
  color: #65a2b1;
}

input {
  font-family: 'Helvetica';
  padding: 10px;
  margin: 10px;
  color: #65a2b1;
  [placeholder] {
    color: #65a2b1;
  }
  background-color: whitesmoke;
}

button {
  font-family: 'Helvetica';
  color: #65a2b1;
  background: whitesmoke;
  padding: 10px;
  border: #65a2b1 solid 2px;
  border-style: outset;
  border-radius: 10px;
}

.navbar {
  /* display: flex; */
  display: block;
  top: -20px;
  justify-content: center;
}

.navbar .navbar-link {
  color: whitesmoke;
  font-family: 'Black Mango';
  font-size: 2rem;
  /*gap: 8rem */
}

.navbar #basic-navbar-nav .me-auto {
  display: flex;
  justify-content: space-evenly;
  gap: 10rem;
}

.logo {
  margin-bottom: 10px;
  height: 150px;
  width: 200px;
  pointer-events: none;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  [h1] {
    font-size: 3rem;
  }
}
