@font-face {
  font-family: 'Black Mango';
  src: url('./fonts/BlackMango-Regular.ttf');
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Helvetica-Medium-Condensed.otf');
}

/* Update font-face with this hierarchy
embedded-opentype (eot)
woff2
woff
ttf
svg */

* {
  background-color: #65a2b1;
}

.App {
  text-align: center;
  max-height: auto;
}

h1 {
  margin-top: 0;
  font-family: 'Black Mango';
  font-size: 6rem;
  color: whitesmoke;
  font-weight: normal;
}

img {
  margin-bottom: 10px;
  height: 200px;
  pointer-events: none;
}

a {
  font-family: 'Helvetica';
  color: #65a2b1;
  background: whitesmoke;
  padding: 20px;
  border: #65a2b1 solid 2px;
  border-style: outset;
  border-radius: 10px;
}

a:link {
  color: #65a2b1;
}

a:hover {
  color: #65a2b1;
  opacity: 50%;
}

a:focus {
  color: #65a2b1;
}

a:before {
  color: #65a2b1;
}

@media only screen and (max-width: 768px) {
  [h1] {
    font-size: 3rem;
  }
}
