* {
  background-color: #65a2b1;
}

@font-face {
  font-family: EMFonts;
  src: url('./fonts/BlackMango-Regular.ttf'),
    url('./fonts/Helvetica-Medium-Condensed.otf');
}

.App {
  text-align: center;
  max-height: auto;
}

/* #root {
  background-color: #65a2b1;
} */

h1 {
  margin-top: 0;
  font-family: EMFonts;
  font-size: 6rem;
  color: whitesmoke;
  font-weight: normal;
}

@media only screen and (max-width: 768px) {
  [h1] {
    font-size: 3rem;
  }
}

img {
  margin-bottom: 10px;
  height: 200px;
  pointer-events: none;
}

a {
  color: #65a2b1;
  background: white;
  padding: 20px;
  border: #65a2b1 solid 2px;
  border-style: outset;
  border-radius: 10px;
}

a:link {
  color: #65a2b1;
}

a:hover {
  color: #65a2b1;
  opacity: 50%;
}

a:focus {
  color: #65a2b1;
}

a:before {
  color: #65a2b1;
}